body{
    background: plum;
    font-size: 100%;
}

canvas{
    position: relative;
}

.game{
    position: relative;
}

.raceway{
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 600px;
}